---
layout: archive
---

{{ content }}

{% if page.img %}
  <img src="{{ page.img }}" alt="{{ page.image_description }}" class="page__hero-image">
{% endif %}

<h2>
  <a href="{{site.baseurl}}/news">{{ site.data.ui-text[site.locale].more_news | default: 'More' }}:</a>
</h2>

{% for post in site.posts limit:5 %}
  {% include archive-single.html type=page.entries_layout %}
{% endfor %}
<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
