/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  background: $masthead-background-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;
  font-variant: small-caps;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1em 0 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  z-index: 20;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

// div extendendo toda a largura do pageview e com um div interno para o conteúdo
// com as margens e paddings seguindo os espaçamentos do footer e menu
.line_div {
  @include clearfix;
  margin: 0;
  width: 100%;

  &__inner-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0.75rem 1rem 0.25rem;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }
}

// Cabeçalho superior do site em flexbox
// Mantêm os divs na mesma linha, para quebrar em duas linhas, utilizar a solução a seguir
.masthead__page-header {
  @extend .line_div__inner-wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  justify-content: space-between;

  &-divisao {
    font-size: $type-size-5;
    font-weight: bold;

    a {
      color: $masthead-highlight;
      text-decoration: none;

      &:hover {
        color: mix(#000, $masthead-highlight, 25%);
      }
    }

    @include breakpoint(max-width $small) {
      font-size: 3.5vw;
    }
  }

  &-tel {
    font-size: $type-size-6;
    padding-top: 0.3rem;
    padding-right: 0.6rem;
    color: $masthead-highlight;

    @include breakpoint(max-width $small) {
      font-size: 2vw;
    }
  }
}

/*.masthead__page-header {
  @include clearfix;
  margin: 0;
  width: 100%;
  
  div {
    //@include clearfix;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0.75em 1em 0.25em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }
}

.masthead__page-header-divisao {
  @extend .align-left;
  font-size: $type-size-6;
}

.masthead__page-header-tel {
  @extend .align-right;
  font-size: $type-size-8;
  margin-right: 1rem;
}*/

.masthead__page-description {
  @extend .line_div;
  background: $masthead-highlight;
  color: mix(#fff, $masthead-link-color, 65%);
}

// Não há necessidade do CSS responsivo ao utilizar as propriedades
// srcset e size da tag img
.masthead__logo {
  //@extend .align-left;
  //height: auto;
  //max-width: 20vw;

  /*@include breakpoint($medium) { //@media (min-width: $medium)
    max-width: 5cm;
  }*/

  // @TODO: verificar se os espaçamentos estão bons em diversos dispositivos
  margin-right: 0.3em;
  margin-bottom: 0.5rem;
}
